<ul class="list-unstyled text-light footer-link-list">
    {% for link in linklists.footer.links %}
        <li>
            <a class="text-decoration-none" href="{{link.url}}">{{ link.title }}</a>
        </li>
    {% endfor %}
</ul>


