<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
    {% for link in linklists.main-menu.links %}
        <li class="nav-item">
            <a class="nav-link" href="{{link.url}}">{{ link.title }}</a>
        </li>     
    {% endfor %}
</ul>