<div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ page.title | escape }}
    </h1>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  </div>



  
{% schema %}
{
    "name": "page content",
    "settings": [
    ],
    "presets": [
    {
      "name": "page content"
    }
  ]
    
}
{% endschema %}