<!-- Start about banner -->
<section class="container py-5">
  <div class="row text-center pt-5 pb-3">
      <div class="col-lg-6 m-auto">
          {% if section.settings.heading != blank %}
              <h1 class="h1">{{ section.settings.heading }}</h1>
          {% endif %}
          {% if section.settings.subheading != blank %}
              <p>{{ section.settings.subheading }}</p>
          {% endif %}
      </div>
  </div>
  <div class="row">

      {% for block in section.blocks %}
      <div class="col-md-6 col-lg-3 pb-5">
          <div class="h-100 py-5 services-icon-wap shadow">
              <div class="h1 text-success text-center"><i class="fa {{ block.settings.icon_class }} "></i></div>
              <h2 class="h5 mt-4 text-center">{{ block.settings.heading_text }}</h2>
          </div>
      </div>
      {% endfor %}

  </div>
</section>
<!-- End about banner -->

{% schema %}
{
    "name": "Services",
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        }
    ],
    "presets": [
    {
      "name": "Services",
      "blocks": [
      ]
    }
  ],
    "blocks": [
        {
          "type": "service_block",
          "name": "Service Block",
          "limit": 4,
          "settings": [
            {
              "type": "text",
              "id": "icon_class",
              "label": "Icon Class",
              "default": "fa-truck fa-lg"
            },
            {
              "type": "text",
              "id": "heading_text",
              "label": "Heading Text",
              "default": "Delivery Services"
            }
          ]
        }
    ]
}
{% endschema %}
